<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hello World!</p>
        <% if (locals.user) { %>
            <a href="/new-folder">Create folder</a>
            <a href="/edit-folder">Edit folder</a>
            <a href="/remove-folder">Remove folder</a>
            <a href="/log-out">Log out</a>
        <% } %>

</body>
</html>